.shiki {
  border-radius: 10px;
  margin-bottom: 30px;
  border: 1px solid #424242;
  white-space: pre;
}
.shiki code {
  white-space: pre;
}

p code,
li code {
  color: rgb(206, 145, 120);
  padding: 4px 7px;
  border-radius: 7px;
  font-size: 0.9em;
  background: rgb(34, 34, 34);
  white-space: nowrap;
  border: 1px solid #424242;
}
